body{
  margin: 0;
  background-color: #EEEEEE;
}

nav {
  width: 100vw;
  margin: 0px;
  height: 210px;
  top: 0%;
  left: 0%;
  position: fixed;
  z-index: 5;
  transition: 300ms ease-in-out;
}

.elevatedContent{
  background-color: white;
  z-index: 5;
  width: 100%;
  height: 211px;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 300ms ease-in-out;
}

.navSmaller {
  height: 110px;
}

.clickCatcher{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0);
  transition: 300ms;
  z-index: 3;
}

.catcherShowing{
  background-color: rgba(0,0,0,0.3);
}

.hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  width: 63px;
  height: 63px;
}

.first{
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 1;
  transition: 200ms;
}

.second{
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: 200ms;
}

.line{
  position: absolute;
  width: 63px;
  height: 10px;
  background-color: rgb(55,55,55);
  border-radius: 1em;
}

.topLine{
  top: 0%
  left: 0%;
  transform: rotate(0deg);
  transform-origin: left top;
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.bottom {
  left: 0%;
  transform: rotate(0deg);
  bottom: 0%;
  transform-origin: left bottom;
}

.topRotated{
  width: 79px;
  top: 0%;
  left: 0%;
  transform: rotate(45deg);
  transform-origin: left top;
}

.bottomRotated{
  width: 79px;
  bottom: 0%;
  left: 0%;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.middleGone{
  opacity: 0;
}

.logo {
  width: 160px;
  height: 80px;
  background-image: url(assets/mobile-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
}

.menu{
  margin: 0px;
  position: absolute;
  margin-top: 209px;
  left: 0%;
  background-color: white;
  width: 100vw;
  box-shadow: 0px 3px 40px rgba(55,55,55,0.3);
  z-index: 3;
  height: 300px;
  overflow: hidden;
  transition: 300ms ease-in-out;
  padding: 0;
}

.menuShowing{
  height: 290px;
}

.menuHidden{
  height: 0px;
}

.menu .item{
  padding-left: 5em;
  z-index: 10;
}

nav ul div p a {
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  text-decoration: none;
  color: rgb(55,55,55);
}

.content {
  margin-top: 25%;
  font-family: "Lato", sans-serif;
  font-size: 10em;
  font-weight: 200;
  color: rgb(55,55,55);
  opacity: 0.6;
  text-align: center;
}

.contentText {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 2em;
  color: rgba(55,55,55,0.6);
  font-weight: 200;
  width: 80%;
  margin: 0 auto;
}

.firstSection {
  font-family: "Lato",sans-serif;
  font-weight: 200;
  color: #EEEEEE;
  width: 100%;
  height: 1300px;
  position: relative;
  margin: 0px;
  margin-top: 0px;
  background: linear-gradient(69deg, #87678A, #5E6B8A, #619899, #028487, #4E4585);
  background-size: 1400% 1400%;

  -webkit-animation: AnimationName 49s ease infinite;
  -moz-animation: AnimationName 49s ease infinite;
  -o-animation: AnimationName 49s ease infinite;
  animation: AnimationName 49s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@keyframes AnimationName {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}

.contentContainer {
  position: absolute;
  margin-top: 211px;
  left: 50%;
  width: 90%;
  height: 1050px;
  transform: translateX(-50%);
  z-index: 1;
}

.entriesText span{
  color: #FF979B;
}

.entriesText{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #EEEEEE;
  font-weight: 400;
  font-size: 2.1em;
}

.BandE{
  position: relative;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
  font-size: 4em;
  font-weight: 200;
}

.open{
  text-align: center;
  margin-top: 1em;
  color: #FF979B;
  font-weight: 400;
  font-size: 2em;
}

.youHave{
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 60px;
}

.timeContainer{
  width: 640px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  height: 200px;
  position: relative;
  transition: 800ms ease-in-out;
}

.timeContainerHidden{
  opacity: 0;
}

.container{
  display: inline-block;
  text-align: center;
  position: absolute;
  height: 160px;
}

.daysContainer{
  width: 130px;
  left: 30px;
}

.daysContainer .timeEntry{
  color: #FF726D;
}

.daysContainer .label{
  color: #FF726D;
}

.hoursContainer{
  width: 100px;
  left: 200px;
}

.minContainer{
  width: 100px;
  left: 360px;
}

.secContainer{
  width: 100px;
  right: 30px;
}

.timeEntry{
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
}

.label{
  font-size: 1.5em;
  font-weight: 400;
  color: #EEEEEE;
}

.learnMore {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, -50%);
  color: rgb(55,55,55);
  background-color: #0DB6E5;
  padding: 0.6em 1.5em;
  border-radius: 2em;
  font-weight: 400;
  font-size: 1.2em;
  z-index: 10;
  text-decoration: none;
}

.results{
  position: absolute;
  margin-bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
}

.clockBg{
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  top: 650px;
  left: 0%;
  width: 100%;
  height: 350px;
  z-index: 2;
}

.secondSection{
  width: 100%;
  background-color: #EEEEEE;
  margin-top: 0;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  padding-bottom: 3em;
  height: 500px;
}

.secondSectionContent{
  width: 80%;
  margin: 0 auto;
  height: 500px;
  position: relative;
}

.secondSectionContent h2{
  text-align: center;
  margin-top: 1em;
  font-size: 3em;
  font-weight: 200;
  margin-bottom: 3em;
}

.secondSectionContent p{
  font-size: 2.4em;
}

.sectionShowing{
  position: absolute;
  font-size: 1.8em;
  text-align: center;
  opacity: 1;
  transition: 500ms ease-in-out;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(55,55,55,0.6)
}

.sectionFirst{
  top: 150px;
}

.sectionSecond{
  top: 300px;
}

.sectionHidden{
  opacity: 0;
  margin-left: 20px;
}

.thirdSection{
  background-color: #E0E0E0;
  width: 100%;
  height: 300px;
  position: relative;
}

.thirdSection h2{
  font-family: "Lato", sans-serif;
  color: #757575;
  text-align: center;
  font-size: 3em;
  top: 2em;
  font-weight: 200;
}

.mediaContainer{
  height: 100px;
  width: 360;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fb-share-button{
  display: none;
  opacity: 0;
}

.facebook{
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  background-color: #3b5998;
  border-radius: 4px;
}

.facebook i{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.twitter{
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 20px;
  background-color: #4099ff;
  border-radius: 4px;
}

.twitter-share-button{
  display: none;
}

.twitter i{
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.google{
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #F44336;
  border-radius: 4px;
}

.google i {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gshare{
  opacity: 0;
  overflow: hidden;
  top: 55%;
  transform: translateY(-50%, -50%);
  position: absolute;
  top: 50%;
}

.fourthSection{
  width: 100%;
  background-color: #064e58;
  margin: 0;
}

.fourthSection h2 {
  font-family: "Lato", sans-serif;
  font-size: 3.5em;
  font-weight: 200;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.cardContainer{
  margin: 0 auto;
  width: 95%;
  padding-bottom: 2em;
  opacity: 1;
  transition: 500ms ease-in-out;
  padding-top: 0;
}

.cardContainerHidden{
  opacity: 0;
  padding-top: 2em;
}


.person{
  width: 70vw;
  height: 28vw;
  background-color: rgba(255,255,255,0.2);
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgba(55,55,55,0.1);
}

.person h3 {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 3em;
  color: rgba(255,255,255,0.9);
  position: absolute;
  right: 60px;
}

.person p{
  position: absolute;
  bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  color: rgba(255,255,255,0.7);
  right: 60px;
  font-size: 2em;
}

.profile{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 110px;
  transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url(assets/profile.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.prangan{
  background-image: url(assets/prangan.png);
}

.masha{
  background-image: url(assets/masha.png);
}

.cedric{
  background-image: url(assets/cedric.png);
}

.anna{
  background-image: url(assets/anna.png);
}

.copyright{
  background-color: rgb(55,55,55);
}

.copyright p{
  margin: auto;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-weight: 100;
  padding: 0.2em 0;
  font-size: 0.7em;
}
